.form {
  display: flex;
}

.form input {
  font-size: 1rem;
  margin-left: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #9BB9BF;
}

.input-url {
  float: left;
  width: 60%;
}

.input-title {
  float: left;
  width: 33%;
}

.create-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #38404e;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 7%;
}

.create-button:hover {
  background: #7e8798;
}