.link-item {
  align-items: center;
  /* 세로 가운데 정렬 */
  transition: all 0.15s;
  user-select: none;
  text-align: center;
  color: #0B2559;
  width: 100%;
  display: inline-block;
}

#list-name {
  padding: 0.5rem;
  display: flex;
  background-color: #6F8CA6;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: larger;
  user-select: none;
}

#list-name>* {
  margin-left: 1rem;
}

#list-name>.list-name-url {
  width: 40%;
}

#list-name>.list-name-title {
  width: 20%;
}

#list-name>.list-name-count {
  width: 10%
}


#list-body-wrapper {
  display: flex;
  flex-direction: column;
}

#list-body-wrapper>.list-body {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.list-body>* {
  margin-left: 1rem;
  float: left;
}

.list-body>.item-url {
  cursor: pointer;
  user-select: none;
  color: #6f8ca6;
  width: 45%;
  word-break: break-all;
}

.list-body>.item-url:hover {
  color: #0b2559;
  text-decoration: underline;
}

.list-body>.item-title {
  width: 20%;
  word-break: break-all;
}

.list-body>.item-count {
  width: 10%
}

.list-body>.remove {
  margin-left: 1.5rem;
  color: #eaafc4;
  font-weight: 600;
}

.list-body>.remove:hover {
  color: #e64980;
  cursor: pointer;
}