.link-item {
  align-items: center;
  /* 세로 가운데 정렬 */
  transition: all 0.15s;
  user-select: none;
  text-align: center;
  color: #0B2559;
  width: 100%;
  display: inline-block;
}

.item-url {
  cursor: pointer;
  user-select: none;
  float: left;
  width: 50%;
  color: #6f8ca6;
}

.item-url:hover {
  color: #0b2559;
  text-decoration: underline;
}

.item-title {
  float: left;
  width: 35%;
}

.item-count {
  float: left;
}

#list-name {
  padding: 0.5rem;
  display: flex;
  background-color: #6F8CA6;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: larger;
  user-select: none;
}

#list-name>#name-url {
  color: white;
  cursor: default;
  text-decoration: none;
}

#list-body-wrapper {
  display: flex;
  flex-direction: column;
}


#list-body-wrapper>.list-body {
  margin: 1rem;
}



.list-body>.remove {
  margin-left: 1rem;
  color: #eaafc4;
  font-weight: 600;
  float: left;
}

.list-body>.remove:hover {
  color: #e64980;
  cursor: pointer;
}